*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
    --myBlack: #1f1f1f;
    --myWhite: #faf6f0;
    --myBlue: #16273b;
    --myGlass: #ffffff80;
    --myOverlay: #00000080;
  }
body{
    height: 100vh;
    background-color: var(--myBlue);
    background-image: url(../assets/main.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.wrapper{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;   
    position: fixed; 
    top: 60px;
}
.navbar{
    background-color:var(--myOverlay) !important;
    backdrop-filter: blur(5px);
    padding: 10px;
    font-weight: 500;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.navbar button{
    color: var(--myWhite);
    border-color:var(--myWhite);
}
.navbar button:hover{
    background-color: var(--myWhite);
    color:var(--myBlack);
}
section{
    height: 90vh;
}
.imgSection{
    width: 60%;
    display: flex;
    justify-content: center;
    padding:10px;
}
.imgSection img{
    align-self: center;
    justify-self: center;
    max-height: 100%;
    border-radius: 10px;
}
.brandLogo{
    height: 200px;
}
.optionsSection{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 10px;
    padding:10px;
    align-items: center;
    justify-content: center;
}
.optionsSection .container a{
    min-width: 120px;
    width: 50%;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: var(--myOverlay) !important;
    color: var(--myWhite);
    font-weight: 700;
    border-radius:5px ;
}
.optionsSection .container a:hover{
    background-color: var(--myWhite) !important;
    color: var(--myBlack);
    border:1px solid var(--myBlack);
    cursor: pointer;
}
@media (max-width:575px) {
    .imgSection{
        width: 100%;
        height: min-content;
    }
    .optionsSection{
        width: 100%;
        height: 800px;
        }
    .optionsSection .container{
        margin-top: -300px;
    }
}