* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background-color: rgb(252, 155, 155);
    background-image: url(../assets/LoginBG.png);
    background-size: cover;
    background-position: 50% 50%;
  }
.navbar {
    background-color: rgba(17, 11, 13, 0.521) !important;
    backdrop-filter: blur(5px);
    padding: 10px;
    font-weight: 500;
  }
  .navbar button {
    color: white;
    border-color: white;
  }
  .navbar button:hover {
    background-color: #5a0c1e;
    border-color: white;
  }
section{
    width: 100%;
    height: inherit;
}
.container-fluid{
    height: inherit;
}
.row{
    height: inherit;
}
.leftSection{
    background-image:url(../assets/LoginBG.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: rgb(37, 18, 18);
    height: inherit !important;
}
.leftSection p{
    font-size: 20px;
}
.rightSection
{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: inherit !important;
}
.rightSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div{
    width: 100%;
}
button{
    background-color: #5A0C1E;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
button:hover{
    box-sizing: border-box;
    color: #5A0C1E;
    padding: 9px;
    background-color: white;
    border: 1px solid #5A0C1E;
}
.scrollDown{
    color: rgb(37, 18, 18);
    position: absolute;
    bottom: 10px;
    left: 40vw;
    font-size: 18px;
    width: fit-content;
    display: none;
}
@media (max-width:575px) {
    .scrollDown{
        display: block;
    }
}