*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/errorBg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position:50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
a{
    color: white;
}