* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --myBlack:#1f1f1f;
    --myWhite:#faf6f0;
    --myBlue:#16273b;
    --myGlass:#ffffff80;
    --myOverlay:#00000080;
    }
  body {
    height: 100vh;
    background-color: var(--myBlue);
    background-image: url(../assets/main.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
.navbar {
    background-color: var(--myOverlay) !important;
    backdrop-filter: blur(5px);
    padding: 10px;
    font-weight: 500;
    z-index: 9999;
  }
  .navbar button {
    color: var(--myWhite);
    border-color: var(--myWhite);
  }
  .navbar button:hover {
    background-color:var(--myWhite);
    color: var(--myBlack);
  }
section{
    width: 100%;
    height: inherit;
}
.container-fluid{
    height: inherit;
}
.row{
    height: inherit;
}
.leftSection{
    background-image:url(../assets/LoginBG.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: var(--myBlack);
    height: inherit !important;
}
.leftSection p{
    font-size: 20px;
}
.rightSection
{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: inherit !important;
}
.rightSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div{
    width: 100%;
}
button{
    background-color: var(--myBlack);
    padding: 10px;
    border-radius: 10px;
    color: var(--myWhite);
    border: 1px solid var(--myWhite);
    font-weight: 500;
}
.Btn:hover{
    box-sizing: border-box;
    color: var(--myBlack);
    background-color: var(--myWhite);
    border: 1px solid var(--myBlack);
}
.scrollDown{
    color: var(--myBlack);
    position: absolute;
    bottom: 10px;
    left: 40vw;
    font-size: 18px;
    width: fit-content;
    display: none;
}
@media (max-width:575px) {
    .scrollDown{
        display: block;
    }
    .pop-up{
        top: 100vh;
    }
}
.pop-up{
    z-index: 2000;
    height: 100vh;
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--myGlass);
  }
  .pop-up img{
    border-radius: 50px;
    height: 200px;
  }