*{
    margin: 0;
    padding: 0;
}
:root{
    --container-color:#fff5e381;
}
body{
    height: 100vh;
    background-color: rgb(252, 155, 155);
    background-image: url(../assets/LoginBG.png);
    background-size: cover;
    background-position: 50% 50%;
    overflow-y: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .container{
    background-color: var(--container-color);
    backdrop-filter: blur(5px);
    padding: 1rem;
    width: 22rem;
    height: 15em;
    border-radius: 1rem;
}
form label{
    font-weight: bold !important;
}
form button{
    background-color: #5A0C1E !important;
    border: none !important;
}
form button:hover{
    background-color: black !important;
    color: white !important;
}
a{
    color: black;
}
.pop-up{
    position: absolute;
    background-color: rgb(24, 21, 21);
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid var(--container-color);
    margin: 5px;
    border-radius: 10px;
    display: none;
    top: 10px;
}
.digiHands{
position: absolute;
top: 70px;
color: #5A0C1E;
font-size: 50px;
font-weight: 900;
text-align: center;
}
.clientName{
    font-size: 20px;
}