*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--myBlack:#1f1f1f;
--myWhite:#faf6f0;
--myBlue:#16273b;
--myGlass:#ffffff80;
--myOverlay:#00000080;
}
body{
    height: 100vh;
    background-color: var(--myBlue);
    background-image: url(../assets/main.jpg);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: 50% 50%;
    overflow-y: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .container{
    background-color: var(--myGlass);
    backdrop-filter: blur(5px);
    padding: 1rem;
    width: 22rem;
    height: 15em;
    border-radius: 1rem;
}
form label{
    font-weight: bold !important;
}
form button{
<<<<<<< HEAD
    background-color: #5A0C1E !important;
    z-index: 50;
=======
    background-color: var(--myBlack) !important;
>>>>>>> main
    border: none !important;
}
form button:hover{
    background-color: var(--myWhite) !important;
    color: var(--myBlack) !important;
}
a{
    color: var(--myBlack);
}
.pop-up{
    position: absolute;
    background-color: var(--myWhite);
    padding: 10px;
    color: var(--myBlack);
    margin: 5px;
    border-radius: 10px;
    display: none;
    top: 10px;
}
.digiHands{
position: absolute;
top: 70px;
color: var(--myWhite);
font-size: 50px;
font-weight: 900;
text-align: center;
}
.clientName{
    font-size: 20px;
}
.loader img{
    width: 150px;
    border-radius: 75px;
    border: 5px solid var(--myBlack);
}
.loader
{
    display: none;
    position: absolute;
    height: 100vh;
    z-index: 500;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--myOverlay);
}